.Ball {
    height: 300px;
    width: 300px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
  }

.red {
    background-color: red;
}

.goldenrod {
    background-color: goldenrod;
}

.green {
    background-color: green;
}

